### ùêêùêÆùêûùê¨ùê≠ùê¢ùê®ùêß 2: Calculate the average salary and count of employees for each department.

In [0]:
# sample data
data = [
 ("Sales", 5000, "John"),
 ("Sales", 6000, "Doe"),
 ("HR", 7000, "Jane"),
 ("HR", 8000, "Alice"),
 ("IT", 4500, "Bob"),
 ("IT", 5500, "Charlie"),
]

# create a dataframe
df = spark.createDataFrame(data, ["department", "salary", "employee_name"])
df.show()

+----------+------+-------------+
|department|salary|employee_name|
+----------+------+-------------+
|     Sales|  5000|         John|
|     Sales|  6000|          Doe|
|        HR|  7000|         Jane|
|        HR|  8000|        Alice|
|        IT|  4500|          Bob|
|        IT|  5500|      Charlie|
+----------+------+-------------+

In [0]:
from pyspark.sql.functions import sum, avg, min, max, count

In [0]:
result_df = df.groupBy("department").agg(avg("salary").alias("dept_avg_salary"), count("*").alias("dept_emp_count"))

In [0]:
result_df.show()

+----------+---------------+--------------+
|department|dept_avg_salary|dept_emp_count|
+----------+---------------+--------------+
|     Sales|         5500.0|             2|
|        HR|         7500.0|             2|
|        IT|         5000.0|             2|
+----------+---------------+--------------+