**Sorting a Dataframe**

Sort a DataFrame based on one or multiple columns in PySpark

In [0]:
# Sample Data
data = [
    ('Alice', 34, 'New York'),
    ('Bob', 45, 'San Francisco'),
    ('Catherine', 29, 'Los Angeles'),
    ('Daniel', 35, 'New York'),
    ('Eva', 45, 'Los Angeles')
]

columns = ['Name', 'Age', 'City']

df = spark.createDataFrame(data, columns)
df.show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|    Alice| 34|     New York|
|      Bob| 45|San Francisco|
|Catherine| 29|  Los Angeles|
|   Daniel| 35|     New York|
|      Eva| 45|  Los Angeles|
+---------+---+-------------+

**Sorting by a Single Column:**

To sort the DataFrame by a single column (e.g.,Age):

In [0]:
sorted_df1 = df.sort("Age")
sorted_df1.show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|Catherine| 29|  Los Angeles|
|    Alice| 34|     New York|
|   Daniel| 35|     New York|
|      Eva| 45|  Los Angeles|
|      Bob| 45|San Francisco|
+---------+---+-------------+

**Sorting by Multiple Columns:**

To sort by multiple columns (e.g., by Age and City):

In [0]:
sorted_df2 = df.sort("Age", "City")
sorted_df2.show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|Catherine| 29|  Los Angeles|
|    Alice| 34|     New York|
|   Daniel| 35|     New York|
|      Eva| 45|  Los Angeles|
|      Bob| 45|San Francisco|
+---------+---+-------------+

**Sorting in Descending Order:**

To sort in descending order, use the desc() function from pyspark.sql.functions:

In [0]:
from pyspark.sql.functions import desc,col

sorted_df3 = df.sort(desc("Age"))
sorted_df3.show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|      Eva| 45|  Los Angeles|
|      Bob| 45|San Francisco|
|   Daniel| 35|     New York|
|    Alice| 34|     New York|
|Catherine| 29|  Los Angeles|
+---------+---+-------------+

In [0]:
#alternate
df.sort(col("Age").desc()).show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|      Bob| 45|San Francisco|
|      Eva| 45|  Los Angeles|
|   Daniel| 35|     New York|
|    Alice| 34|     New York|
|Catherine| 29|  Los Angeles|
+---------+---+-------------+